
.com-secondary-tag{
    white-space: initial;
    overflow-x: initial;
}
.a-tags{
    font-family: "Arial", "sans-serif";
    font-size: 1.35rem;
    margin-right: 1.7rem;
    display: inline-block;
    position: relative;
    color: #0074c4;
    margin-bottom: 2rem;
}
.a-tags::after{
    content: '·';
    display: inline-block;
    position: absolute;
    color: #006998;
    right: -1.4rem;
    font-size: 2rem;
    line-height: 2rem;
}
