.mod-caja-nota{
    display: flex;
    align-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.w-100-mobile{
    width: 100%;
    margin-left: 0;
}

.cont-figure{
    background-color: #f2f2f2;
}

a{
    color: inherit;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover{
    opacity: 0.8;
}

.figure{
    position: relative;
    background-color: #f2f2f2;
}

.content-pic{
    width: 100%;
    background: #f2f2f2;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.picture{
    padding-top: calc((2/3)*100%);
}

.content-img{
    display: flex;
    position: absolute;
    top: 0;
    filter: brightness(100%);
    transition: all .2s ease-in-out;
    width: 100%;
}
.content-img:hover{
    opacity: 0.8;
}

.mod-caja-nota__descript{
    padding-left: 0;
    padding-right: 0;
}

.com-title-acu{
    padding-top: 1rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: -0.025rem;
    font-family: "SuecaSlab", "Georgia", "serif";
    color: #000000;
    margin-top: 0.4375;
    cursor: pointer;
    font-weight: normal;
}

b{
    font-weight: 600;
}

.com-date{
    font: 400 1.35rem "Arial", "sans-serif";
    color: #5a5a5a;
    margin-top: 0.6rem;
}