.footer-header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2rem;
    width: 100%;
}

.footer-header__logo {
    order: 2;
    border-bottom: none;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-header__app {
    -webkit-box-ordinal-group: 4;
    order: 3;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-sitio {
    margin-bottom: 2rem;
}

.col-desksm-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-desksm-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-desksm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-deskxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-deskxl-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    position: relative;
    width: 100%;
}

.footer-sitio__links {
    display: flex;
}

.footer-sitio__captcha {
    display: flex;
    line-height: 2rem;
}

.condition {
    font-family: Arial, sans-serif;
    color: #0074c4;
    margin-left: 1.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.private {
    font-family: Arial, sans-serif;
    color: #0074c4;
    margin-left: 1.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.item_link {
    font-size: 1.4rem;
    color: #0074c4;
    margin-right: 2.1rem;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

p {
    font-family: Arial, sans-serif;
    color: #5a5a5a;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: right;
    width: 100%;
}

.footer-copyright {
    margin-bottom: 2rem;
}

.footer-copyright__fiscal {
    -webkit-box-ordinal-group: 3;
    order: 2;
}

.img_gda {
    margin: 0 1.5rem 0 -0.5rem;
}

.aI {
    float: right;
    margin-top: 0.8rem;
    margin-left: 1.5rem;
}

.img_data-fiscal {
    width: 3.5rem;
}

.footer-copyright__reserved {
    text-align: left;
    order: 1;
    font-family: Arial, sans-serif;
    color: #5a5a5a;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
}